/* ----------------------------------------
    Variables
---------------------------------------- */
/* Colours */
$primary: #e84545;
$primary-tint: #903749;
$primary-dark: #53354a;
$secondary: #2b2e4a;

$dash-primary: #00adb5;
$design-primary: #123456;

$gradient-primary: linear-gradient(180deg, $primary, $primary-tint);
$gradient-dark: linear-gradient(135deg, $primary-dark, $secondary);
$gradient-smoke: linear-gradient(135deg, white, whitesmoke);

/* Typography */
$poppins: "Poppins", sans-serif;
$opensans: "Open Sans Condensed", sans-serif;

/* Sizing */
$padding-large: 4rem;
$padding-medium: 2rem;
$padding-small: 1rem;

/* ----------------------------------------
    Mixins
---------------------------------------- */
@mixin container($bg-color, $border-color) {
  display: flex;
  flex-direction: column;

  height: 100vh;
  padding: $padding-large;
  background: $bg-color;

  .top-border,
  .bottom-border {
    height: $padding-large;
    border-left: solid $border-color 1px;
    border-right: solid $border-color 1px;
  }
}

@mixin border($top-or-bottom, $left, $right, $border-color) {
  @if ($top-or-bottom == "bottom") {
    transform: translate(0, 1.95em);
  } @else if ($top-or-bottom == "top") {
    transform: translate(0, -0.7em);
  } @else {
    transform: translate(0, 0.65em);
  }

  display: flex;
  align-items: center;
  user-select: none;

  &::before,
  &::after {
    content: "";
    display: inline-block;
    border-top: solid $border-color 1px;
  }
  &::before {
    width: $left;
    margin-right: $padding-medium;
  }
  &::after {
    width: $right;
    margin-left: $padding-medium;
  }
}

@mixin heading($font) {
  font-family: $font;
  text-transform: uppercase;
}

@mixin textbox($bar-color) {
  .bar {
    display: inline-block;
    min-width: 5em;
    margin: 0.5em 1.5em 0 0;
    border-top: solid 5px $bar-color;
  }
  .content {
    display: flex;
  }
}

@mixin backToTop() {
  position: absolute;
  top: calc(#{$padding-large} / 2);
  right: calc(#{$padding-large} / 2);
}

@mixin gradientText($gradient-color) {
  background: $gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
