@import "./variables";
@import "./animations";
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,700|Poppins:700&display=swap");

/* ----------------------------------------
    General Styles
---------------------------------------- */
html {
  font-size: 20px;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}
a,
a:link,
a:visited,
a:hover,
a:active {
  @include heading($opensans);
  color: inherit;
  text-decoration: none;

  &.default {
    text-decoration: underline;
    text-transform: lowercase;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $opensans;
  font-weight: normal;
  text-align: justify;
}
p + p {
  padding-top: 1em;
}

/* ----------------------------------------
    Component Styles
---------------------------------------- */
.box {
  display: flex;
  align-items: center;
  min-height: $padding-large;
  padding: 0 $padding-large;
  border: solid 1px;
  border-color: inherit;
  white-space: nowrap;
}
.square {
  max-width: $padding-large;
  padding: 0 $padding-medium;
}
.arrow {
  display: inline-block;
  padding: 0.3em;
  border: solid;
  border-color: inherit;
  border-width: 0 1.5px 1.5px 0;
}
.arrow.down {
  transform: translate(-7.5px, -3px) rotate(45deg);
}
.arrow.up {
  transform: translate(-7.5px, 3px) rotate(225deg);
}

/* ----------------------------------------
    Home Styles
---------------------------------------- */
#myHome {
  @include container($gradient-dark, #fff);
  @include textbox($primary);
  color: #fff;

  article {
    width: 45%;
    margin-top: auto;

    p {
      filter: opacity(60%);
      padding-top: $padding-small;
    }
  }
  h1 {
    @include heading($poppins);
    @include gradientText($gradient-primary);

    font-size: 9rem;
    line-height: 0.9em;
    user-select: none;
  }
  h2 {
    margin-top: -0.25em;
    font-weight: normal;
    font-size: 1.5rem;
  }
  nav {
    font-size: $nav-size;

    a::after {
      background-color: $primary;
    }
    span + span::before {
      content: "//";
      padding: 0 $padding-small;
    }
  }
  header {
    & > * {
      @include border($translate-top, 100%, $padding-large, #fff);
    }
  }
  footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    & > * {
      @include border($translate-mouse, 100%, 100%, #fff);
    }
  }
}

/* ----------------------------------------
    Portfolio Styles
---------------------------------------- */
#myDashpoint,
#myDesign {
  @include container($gradient-light, lightgray);
  position: relative;

  article {
    display: flex;
    justify-content: space-between;

    width: 110%;
    margin-top: $padding-medium;
    margin-bottom: auto;

    p {
      color: $secondary-dark; // ### Change this to palette dark later ###
    }
    & > div:first-child {
      width: 100%;
    }
    & > div:first-child + div {
      align-self: center;
      padding-left: $padding-medium;
    }
  }
  h1 {
    font-size: $nav-size;
    text-transform: uppercase;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
  }
  aside {
    display: flex;
    padding-top: $padding-large;

    & > * {
      flex: 1 1 0;
      padding-right: $padding-medium;
      word-spacing: 0.2em;

      span {
        word-spacing: normal;
      }
    }
  }
  header {
    & > * {
      @include border($translate-top, $padding-large, 100%, lightgray);
    }
  }
  footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    & > * {
      @include border($translate-box, 100%, 100%, lightgray);

      & > span {
        width: 10%;
        margin: 0 $padding-medium;
        border-top: solid 1px;
        border-color: lightgrey;
      }
    }
  }

  .back-to-top {
    @include backToTop();
    background: linear-gradient(135deg, #f8f8f8, #f7f7f7);
  }
}
#myDashpoint {
  @include textbox($dash-primary);
  color: $dash-primary;

  img {
    width: 90%;
    margin-left: $padding-medium;
  }

  .wipe {
    &::before {
      background: $dash-primary;
    }
    &:hover {
      color: #fff;
      border: solid 1px $dash-primary;
    }
  }
}
#myDesign {
  @include textbox($design-primary);
  color: $design-primary;

  img {
    width: 75%;
    margin-left: $padding-large;
  }

  .wipe {
    &::before {
      background: $design-primary;
    }
    &:hover {
      color: #fff;
      border: solid 1px $design-primary;
    }
  }
}

/* ----------------------------------------
    Contact Styles
---------------------------------------- */
#myContact {
  @include container($gradient-dark, #fff);
  @include textbox(#fff);
  position: relative;
  color: #fff;

  article {
    width: 100%;
    margin-top: $padding-medium;
    margin-bottom: auto;

    a {
      margin-right: $padding-small;

      img {
        margin-top: $padding-small;
      }
    }
    form {
      margin-left: auto;
      transform: translate(0, 0); // Enables wipe animation

      & > * {
        margin-bottom: $padding-small;
        padding-bottom: 0.2em;
        background: transparent;
        outline: transparent;
        font-family: $opensans;
        font-size: 1rem;
      }
      input,
      textarea {
        display: block;
        width: calc(50vw - 2 * #{$padding-large} - #{$padding-medium});
        color: #fff;
        border: none;
        border-bottom: solid #fff 1px;

        &:focus {
          color: inherit;

          &::placeholder {
            filter: opacity(0%);
          }
        }
        &::placeholder {
          color: inherit;
          filter: opacity(50%);
        }
      }
      textarea {
        margin-right: $padding-medium;
        resize: none;
      }
      button {
        margin-top: $padding-medium;
        color: inherit;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
  h1 {
    font-size: $nav-size;
    text-transform: uppercase;
  }
  h2 {
    @include heading($poppins);
    @include gradientText($gradient-light);
    font-size: 5rem;
    line-height: 1em;
    user-select: none;
  }
  header {
    & > * {
      @include border($translate-top, $padding-large, 100%, lightgray);
    }
  }
  footer {
    @include heading($opensans);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: $nav-size;

    & > * {
      @include border($translate-bottom, 100%, 100%, lightgray);
      white-space: nowrap;
      word-spacing: 0.2em;

      span {
        word-spacing: normal;
      }
    }
  }

  .back-to-top {
    @include backToTop();
    background: linear-gradient(135deg, #4a4d64, #484d60);
  }
  .wipe {
    &::before {
      background: #fff;
    }
    &:hover {
      color: $secondary;
      border: solid 1px #fff;
    }
    &:hover::before {
      color: $secondary;
    }
  }
}
